body{
	background: image-url('bg.jpg') no-repeat;
	background-size: cover;
}
#homepage {
	.logo {
		width: 312px;
		margin: 100px auto 0;
	}
	.search{
		width: 493px;
		height: 46px;
		margin: 0px auto;
		position: relative;
		.text{
			width: 440px;
			height: 46px;
			box-sizing: border-box;
		}
		.search_go {
			width: 42px;
			height: 42px;
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			cursor: pointer;
			background: image-url('search.png') no-repeat;
			outline: none;
		}
	}
}